---
import AgregarAutores from '../components/AgregarAutores.vue';
---

<html>
  <head>
    <title>Agregar Autores</title>
  </head>
  <body>
    <h1>Agregar un Nuevo Libro</h1>
    <AgregarAutores client:load />
  </body>
</html>