---
import ApiComponent from '../components/ApiComponent.vue';
import AgregarLibro from '../components/AgregarLibro.vue';
import '../styles/global.css';
---

<html>
  <head>
    <title>Mi Libreria</title>
    <style>
      .menu-button {
        background-color: #4CAF50; /* Color de fondo */
        color: white; /* Color del texto */
        padding: 10px 20px; /* Espaciado interno */
        text-align: center; /* Alineación del texto */
        text-decoration: none; /* Sin subrayado */
        display: inline-block; /* Mostrar como bloque en línea */
        font-size: 16px; /* Tamaño de la fuente */
        margin: 4px 2px; /* Margen exterior */
        cursor: pointer; /* Cambiar el cursor al pasar el mouse */
        border-radius: 5px; /* Bordes redondeados */
        border: none; /* Sin borde */
      }

      .menu-button:hover {
        background-color: #45a049; /* Cambiar color de fondo al pasar el mouse */
      }
    </style>
  </head>
  <body>
    <!-- Menú con botones -->
    <nav class="menu">
      <a href="/agregar-autores" class="menu-button">Agregar Autores</a>
     
    </nav>
     <AgregarLibro client:load />
    <ApiComponent client:load />
  </body>
</html>
