---
import ApiComponent from '../components/ApiComponent.vue';
import AgregarLibro from '../components/AgregarLibro.vue';
import '../styles/global.css';
---

<html>
  <head>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Mi Libreria</title>
  </head>
  <body>
    <h1>Bienvenido a mi libreria</h1>
    <ApiComponent client:load />
    <AgregarLibro client:load />
  </body>
</html>